<app-type-blog (send)="getType($event)"></app-type-blog>
<br>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

<section id="projects">
  <div class="projects container">
    <div class="projects-header">
      <h1 class="section-title">Recent <span>Blogs</span></h1>
    </div>

    <input  placeholder="Search..." type="text" [(ngModel)]="searchvalue" (input)="onsearch()" />
    <br>

    <div *ngFor="let b of Blogs ; let i=index">
      <div *ngFor="let u of Users ; let i=index">
        <div *ngIf="u.connected==1">
          <div *ngIf="(vars =='')">
            <div class="all-projects">
              <div class="project-item" >
                <div class="project-info" >
                  <h1>{{b.titre}}</h1>
                  <br>
                  <h2>Crée par :</h2><h2> {{b.name}}</h2>
                  <p>
                    {{b.type}}
                  </p>

                  <div *ngIf=" b.etatlike==0">
                    <p>
                      {{b.like}}

                      <button type="submit" class="like" >
                        <i class="fa fa-thumbs-o-up" aria-hidden="true" (click)="Addlike(b.id)" [routerLink]="['/accueil']"></i>
                      </button>
                      {{b.dislike}}
                      <button class="dislike">
                        <i class="fa fa-thumbs-o-down" aria-hidden="true" (click)="Adddislike(b.id)" [ngStyle]="{'color':b.dislike < 5 ? 'yellow' : 'red'}"></i>
                      </button>
                    </p>
                  </div>



                  <div *ngIf=" b.etatlike==1">
                    <p>
                      {{b.like}}

                      <button type="submit" class="like"  >
                        <i class="fa fa-thumbs-o-up" aria-hidden="true"  [routerLink]="['/accueil']" ></i>
                      </button>
                      {{b.dislike}}
                      <button class="dislike" disabled>
                        <i class="fa fa-thumbs-o-down" aria-hidden="true"  [ngStyle]="{'color':b.dislike < 5 ? 'yellow' : 'red'}" ></i>
                      </button>
                    </p>
                  </div>



                  <div *ngIf="b.etatlike==2">
                    <p>
                      {{b.like}}

                      <button type="submit" class="like" >
                        <i class="fa fa-thumbs-o-up" aria-hidden="true"  [routerLink]="['/accueil']" ></i>
                      </button>
                      {{b.dislike}}
                      <button class="dislike">
                        <i class="fa fa-thumbs-o-down" aria-hidden="true" [ngStyle]="{'color':b.dislike < 5 ? 'yellow' : 'red'}" ></i>
                      </button>
                    </p>
                  </div>


                </div>

                <div class="project-img" [routerLink]="['/details/Blog/',b.id]">
                  <img src="{{'/assets/'+(b.image).substring(12)}}" alt="img" >
                </div></div>
            </div>
          </div>
        </div>
      </div>
      <br>
     </div>
    <div *ngFor="let b of Blogs ; let i=index">
      <div *ngFor="let u of Users ; let i=index">
        <div *ngIf="u.connected==1">
          <div *ngIf="(b.type==vars)">
            <div class="all-projects">
              <div class="project-item" >
                <div class="project-info" >
                  <h1>{{b.titre}}</h1>
                  <br>
                  <h2>Crée par :</h2><h2> {{b.name}}</h2>
                  <p>
                    {{b.type}}
                  </p>

                  <div *ngIf=" b.etatlike==0">
                    <p>
                      {{b.like}}

                      <button type="submit" class="like" >
                        <i class="fa fa-thumbs-o-up" aria-hidden="true" (click)="Addlike(b.id)" [routerLink]="['/accueil']"></i>
                      </button>
                      {{b.dislike}}
                      <button class="dislike">
                        <i class="fa fa-thumbs-o-down" aria-hidden="true" (click)="Adddislike(b.id)" [ngStyle]="{'color':b.dislike < 5 ? 'yellow' : 'red'}"></i>
                      </button>
                    </p>
                  </div>



                  <div *ngIf=" b.etatlike==1">
                    <p>
                      {{b.like}}

                      <button type="submit" class="like"  >
                        <i class="fa fa-thumbs-o-up" aria-hidden="true"  [routerLink]="['/accueil']" ></i>
                      </button>
                      {{b.dislike}}
                      <button class="dislike" disabled>
                        <i class="fa fa-thumbs-o-down" aria-hidden="true"  [ngStyle]="{'color':b.dislike < 5 ? 'yellow' : 'red'}" ></i>
                      </button>
                    </p>
                  </div>



                  <div *ngIf="b.etatlike==2">
                    <p>
                      {{b.like}}

                      <button type="submit" class="like" >
                        <i class="fa fa-thumbs-o-up" aria-hidden="true"  [routerLink]="['/accueil']" ></i>
                      </button>
                      {{b.dislike}}
                      <button class="dislike">
                        <i class="fa fa-thumbs-o-down" aria-hidden="true" [ngStyle]="{'color':b.dislike < 5 ? 'yellow' : 'red'}" ></i>
                      </button>
                    </p>
                  </div>


                </div>

                <div class="project-img" [routerLink]="['/details/Blog/',b.id]">
                  <img src="{{'/assets/'+(b.image).substring(12)}}" alt="img" >
                </div></div>
            </div>
          </div>
        </div>




          <div *ngIf="u.connected==0">
            <div *ngIf="(vars =='')">
              <div class="all-projects">
                <div class="project-item" >
                  <div class="project-info" >
                    <h1>{{b.titre}}</h1>
                    <br>
                    <h2>Crée par :</h2><h2> {{b.name}}</h2>
                    <p>
                      {{b.type}}
                    </p>


                    <p>
                      {{b.like}}

                      <button type="submit" class="like" >
                        <i class="fa fa-thumbs-o-up" aria-hidden="true" [routerLink]="['/accueil']"></i>
                      </button>
                      {{b.dislike}}
                      <button class="dislike">
                        <i class="fa fa-thumbs-o-down" aria-hidden="true"  [ngStyle]="{'color':b.dislike < 5 ? 'yellow' : 'red'}"></i>
                      </button>
                    </p>



                  </div>

                  <div class="project-img" [routerLink]="['/details/Blog/',b.id]">
                    <img src="{{'/assets/'+(b.image).substring(12)}}" alt="img" >
                  </div></div>
              </div>
            </div>
            <div *ngIf="(b.type ==vars)">
              <div class="all-projects">
                <div class="project-item" >
                  <div class="project-info" >
                    <h1>{{b.titre}}</h1>
                    <br>
                    <h2>Crée par :</h2><h2> {{b.name}}</h2>
                    <p>
                      {{b.type}}
                    </p>


                    <p>
                      {{b.like}}

                      <button type="submit" class="like" >
                        <i class="fa fa-thumbs-o-up" aria-hidden="true" [routerLink]="['/accueil']"></i>
                      </button>
                      {{b.dislike}}
                      <button class="dislike">
                        <i class="fa fa-thumbs-o-down" aria-hidden="true"  [ngStyle]="{'color':b.dislike < 5 ? 'yellow' : 'red'}"></i>
                      </button>
                    </p>

                  </div>

                  <div class="project-img" [routerLink]="['/details/Blog/',b.id]">
                    <img src="{{'/assets/'+(b.image).substring(12)}}" alt="img" >
                  </div></div>
              </div>
            </div>

          </div>


        </div>
        <br>
      </div></div>






</section>

