
.cta {
  display: inline-block;
  padding: 10px 30px;
  color: black;
  background-color: transparent;
  border: 2px solid darkcyan;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  margin-top: 30px;
  transition: .3s ease;
  transition-property: background-color, color;
}
.cta:hover {
  color: white;
  background-color: darkcyan;
}

.ctac {
  display: inline-block;
  padding: 10px 30px;
  color: black;
  background-color: transparent;
  border: 2px solid palevioletred;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  margin-top: 30px;
  transition: .3s ease;
  transition-property: background-color, color;
}
.ctac:hover {
  color: white;
  background-color: palevioletred;
}
.ctab {
  display: inline-block;
  padding: 10px 30px;
  color: black;
  background-color: transparent;
  border: 2px solid bisque;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  margin-top: 30px;
  transition: .3s ease;
  transition-property: background-color, color;
}
.ctab:hover {
  color: white;
  background-color: bisque;
}
.list-group{
  display: flex;
  align-items: center;
  justify-content: center;


}
