<mat-toolbar class="mat-elevation-z8" >
  <span><mat-icon>eco</mat-icon> EyApp</span>

  <div class="spacer"></div>

  <a mat-button routerLink="accueil">Accueil</a>

  <div *ngFor="let b of Users ; let i=index">

    <div *ngIf="b.connected==1">
      <a mat-button routerLink="blog">Blog</a>
      <a mat-button >{{b.username}}</a>
      <a mat-raised-button (click)="Logout(b.id)" >Logout</a>
    </div>

    <div *ngIf="b.connected==0">
      <a mat-button routerLink="signUp">Blog</a>
      <a mat-raised-button routerLink="signUp">Sign up</a>
    </div>

  </div>


</mat-toolbar>
