<br>
<form [formGroup]="myForm" (ngSubmit)=" Blogservice.submit(myForm.value) " class="example-form" >


  <mat-form-field class="example-full-width" >
    <input  matInput placeholder="nom" formControlName="name">
      <mat-error *ngIf="name.invalid" >
       Veuillez saisir votre nom
      </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width">
    <input  matInput placeholder="titre" formControlName="titre">
    <mat-error *ngIf="titre.invalid" >
      Veuillez saisir le titre
    </mat-error>
  </mat-form-field>

<br>
  <mat-form-field class="example-full-width">
    <input  matInput placeholder="type" formControlName="type">
     <mat-error *ngIf="type.invalid" >
        Veuillez saisir le type
      </mat-error>
  </mat-form-field>
<br>


  <mat-form-field class="example-full-width" >

      <mat-label>Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="date.invalid" >
      Veuillez choisir une date
    </mat-error>
    </mat-form-field>

  <br>
  <mat-form-field class="example-full-width" >
    <textarea matInput  placeholder="description" style="height:200px"formControlName="description"></textarea>
          <mat-error *ngIf="description.invalid" >
            Veuillez saisir la description
          </mat-error>
  </mat-form-field>
<br>
  <mat-form-field class="example-full-width">
    <input disabled matInput  >
  <input
    *ngIf="!profilePicture" type="file"
    (change)="handleProfilePictureInput($event.target.files)" formControlName="image">
    <img id="importer" class="profile-picture" [src]="profilePicture">

  </mat-form-field>
<br><br>
  <button type="submit"  mat-raised-button >Ajouter un Blog</button>
</form>
